.drag {
  background:#e2e6e0;
  padding:14px;
  border-radius:14px;
  margin-bottom:10px;
  cursor:move;
}

.match-row {
  display:flex;
  justify-content:space-between;
  margin-bottom:12px;
}

select {
  border-radius:8px;
  padding:6px;
}
